body {
    font-size: 16px !important;
    letter-spacing: 0.5px;
    font-weight: bold;
    background: linear-gradient(to left, #9DC88D, #4D774E, #164A41) no-repeat;
    padding: 0 50px;
    line-height: 1.5;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Sansita Swashed', cursive !important; */
    /* font-family: 'Cormorant SC', serif; */
    font-family: 'Quicksand', sans-serif;
    color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
    body {
        padding: 0 5px;
    }
}
::-webkit-scrollbar {
    display: none;
}
input:focus, textarea:focus {
    outline: none !important;
}
a {
    text-decoration: none !important;
    color: #FFFFFF;
}
/* Menu */
.menu {
    background: linear-gradient(to left, #9DC88D, #4D774E, #164A41) no-repeat;
    padding: 12px;
}
.title-page {
    font-size: 60px !important;
    font-weight: 600 !important;
    font-family: "DomaineDisplayNarrow",Georgia,serif;
    background: linear-gradient(to top, #4D774E, #FFFFFF) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    cursor: pointer;
    margin: 0;
    margin: -40px auto;
    position: absolute;
    filter: drop-shadow(3px 3px rgba(0,0,0,.4));
}
.box-menu h3 {
    font-size: 40px !important;
    font-weight: 600 !important;
    font-family: "DomaineDisplayNarrow",Georgia,serif;
    background: linear-gradient(to bottom, #4D774E, #FFFFFF) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    cursor: pointer;
    filter: drop-shadow(3px 3px rgba(0,0,0,.5));
    margin: 0;
}
.box-menu input {
    z-index:1;
    border: none;
    width: 200px;
    color: #f4f9f4;
    font-weight: 600;
    background: none;
    letter-spacing: 1px;
}
@media only screen and (min-width: 992px) {
    .box-menu input {
        width: 300px;
    }
}
.box-search {
    padding: 0px 10px;
    background: hsla(0,0%,100%,0.1);
}
.box-search i {
    background: none !important;
    padding: 12px 5px !important;
    filter: drop-shadow(0px 0px rgba(0,0,0,.0)) !important; 
}
.box-menu input::placeholder {
    color: #f4f9f4;
}
.box-menu .item i {
    padding: 12px;
    background: hsla(0,0%,100%,0.1);
    font-weight: 600;
    color: #f4f9f4;
    filter: drop-shadow(1px 1px rgba(0,0,0,.2)); 
}
/* dropdown */
.box-menu .dropdown-menu.show {
    min-width:inherit;
    display: inline-block;
    border: none;
    padding: 0px !important;
    background: none;
}
.box-menu .dropdown-menu .dropdown-item {
    background: none;
    cursor: pointer;
    border-radius: 0px;
    padding: 0px !important;
    justify-content: center;
    text-align: center;
    text-align: end;
    margin: 10px 0px;
}
/* Main */
.main {
    padding: 75px 10px 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 20px;
}
.main::-webkit-scrollbar {
    display: block;
}
.main::-webkit-scrollbar {
    width: 10px;
}
.main::-webkit-scrollbar-track {
    background: linear-gradient(to top, #FFFFFF, #9DC88D, #4D774E) no-repeat;
    margin-top: 85px;
    margin-bottom: 25px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.main::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #FFFFFF, #9DC88D, #4D774E) no-repeat;
}
.main::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF; 
}

.box-main {
    margin: 0 !important;
    --bs-gutter-x: 0; 
}
.box-main .div-item {
    padding: 10px;
}
.div-image {
    background: #000;
}
.box-main img {
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #9DC88D, #4D774E);
}
.box-main img:hover {
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #9DC88D, #4D774E);
    /* opacity: .8; */
}
.box-main .title {
    /* white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    filter: drop-shadow(2px 2px rgba(0,0,0,.3)); 
    background: linear-gradient(to right, #9DC88D, #4D774E) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    font-size: 22px;
}
.txt-info-video p {
    margin: 0px;
    padding-left: 10px;
    background: linear-gradient(to left, #9DC88D, #4D774E) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    font-size: 20px;
}
.likes, .dislikes {
    background: linear-gradient(to top, #4D774E, #9DC88D, #FFFFFF) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    font-size: 20px;
    cursor: pointer;
    filter: drop-shadow(1px 1px rgba(0,0,0,.2));
}
.likes:hover {
    background: linear-gradient(to bottom, #4D774E, #9DC88D, #FFFFFF) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}
.liked {
    background: linear-gradient(to bottom, #be3737, #f9fcfb) no-repeat !important;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}
.liked:hover {
    background: linear-gradient(to top, #be3737, #f9fcfb) no-repeat !important;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}

/* detail */
.box-details h1 {
    cursor: pointer;
    filter: drop-shadow(2px 2px rgba(0,0,0,.3));
    background: linear-gradient(to right, #9DC88D, #4D774E, #164A41) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    font-weight: 800 !important;
    padding: 10px 0;
}
.box-details .txt-info-video p {
    filter: drop-shadow(1px 1px rgba(0,0,0,.1));
    font-weight: 800 !important;
}
.box-details .box-icon i {
    background: linear-gradient(to top, #4D774E, #9DC88D, #FFFFFF) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    font-size: 25px;
    cursor: pointer;
    filter: drop-shadow(1px 1px rgba(0,0,0,.1)) !important;
    margin-right: 30px;
}
.box-details .box-icon i:hover {
    background: linear-gradient(to bottom, #4D774E, #9DC88D, #FFFFFF) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}
.info-authors {
    border-top: 3px solid ;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #4D774E, #9DC88D);
}
.info-authors i {
    filter: drop-shadow(2px 2px rgba(0,0,0,.1));
    background: linear-gradient(to top, #4D774E, #9DC88D, #FFFFFF) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}
.info-authors i.icon-logo-user{
    font-size: 60px;
    background: linear-gradient(to top, #164A41, #4D774E, #9DC88D, #FFFFFF) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}
.info-authors span.icon-logo-user{
    font-size: 60px;
    color: #9DC88D;
}
.info-authors .txt-info-video p {
    filter: drop-shadow(2px 2px rgba(0,0,0,.1));
}
.info-authors .info-post i {
    margin-right: 5px;
}
.info-authors .info-post p {
    margin: 0px;
    padding-left: 8px;
}
.info-authors .info-post p, .info-authors .info-post a {
    background: linear-gradient(to top, #4D774E, #9DC88D) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    font-size: 20px;
}
iframe {
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top, #4D774E, #9DC88D);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.box-iframe {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.box-comment .box-input {
    resize: none;
    background: none;
    border: none;
    border-bottom: 2px solid #9DC88D;
    color: #9DC88D;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 15px;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #4D774E, #9DC88D, #FFFFFF);
}

.box-comment .box-input input {
    background: none;
    border: none;
    color: #9DC88D;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 5px !important;
}
.box-comment input::placeholder {
    color: #9DC88D;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 0 5px;
    filter: drop-shadow(2px 2px rgba(0,0,0,.1));
}
.box-comment .box-input i {
    padding: 5px;
    text-align: end;
    background: linear-gradient(to top, #4D774E, #9DC88D, #FFFFFF) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    font-size: 22px;
    cursor: pointer;
    filter: drop-shadow(1px 1px rgba(0,0,0,.3));
}
.box-comment .box-input i:hover {
    background: linear-gradient(to bottom, #4D774E, #9DC88D, #FFFFFF) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}
.comments i {
    filter: drop-shadow(1px 1px rgba(0,0,0,.2));
    background: linear-gradient(to top, #4D774E, #9DC88D, #FFFFFF) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}

.comments .dropdown-menu.show {
    min-width:inherit;
    display: inline-block;
    border: none;
    padding: 5px !important;
    background: linear-gradient(160deg, #4D774E, #4d774e13, #4D774E) no-repeat;
    border-radius: 4px !important;
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.comments .dropdown-menu i {
    font-weight: 600;
    cursor: pointer;
    border-radius: 0px;
    padding: 2px 5px !important;
    justify-content: center;
    text-align: center;
    filter: drop-shadow(1px 1px rgba(0,0,0,.3));
}
.comments .dropdown-menu i:hover {
    background: linear-gradient(to bottom, #4D774E, #9DC88D, #FFFFFF) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}
.comments .dropdown-menu i:active {
    color: #ff7e67;
}

/* login */
.box-login .login {
    width: 450px;
    padding: 30px;
    border-radius: 25px;
}
.box-login .login .box-input {
    width: 100%;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #4D774E, #9DC88D, #FFFFFF);
    padding: 5px;
}
.box-login .login .box-input i{
    width: 10%;
    background: linear-gradient(to top, #4D774E, #9DC88D, #FFFFFF) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    font-size: 20px;
}
.box-login .login .box-input input{
    border: none;
    color: #9DC88D;
    font-weight: 600;
    background: none;
    width: 95%;
    padding: 0 5px;
}
.box-login .login input::placeholder {
    font-weight: 700;
    letter-spacing: 1px;
    color: #9DC88D;
}

.box-login .login input:-webkit-autofill,
.box-login .login input:-webkit-autofill:hover, 
.box-login .login input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #9DC88D;
  transition: background-color 5000s ease-in-out 0s;
}

.box-login .login h3{
    font-size: 40px !important;
    font-weight: 900 !important;
    font-family: "DomaineDisplayNarrow",Georgia,serif;
    background: linear-gradient(to top, #4D774E, #9DC88D, #FFFFFF) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    cursor: pointer;
    filter: drop-shadow(2px 2px rgba(0,0,0,.4));
}

.box-login .login a {
    font-size: 17px;
    font-weight: 900 !important;
    background: linear-gradient(to left, #4D774E, #9DC88D) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    cursor: pointer;
    filter: drop-shadow(1px 1px rgba(0,0,0,.2));
}

.box-login .login .div-btn input{
    font-weight: 900;
    padding: 5px;
    width: 150px;
    background: linear-gradient(to top, #4D774E, #9DC88D) no-repeat;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

/* posts */
.modal-dialog .modal-content {
    border-radius: 20px;
    border: none;
    background: #4D774E;
}
.modal-dialog .modal-content h4 {
    font-size: 22px;
    font-weight: 900 !important;
    background: linear-gradient(to right, #4D774E, #9DC88D) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    filter: drop-shadow(2px 2px rgba(0,0,0,.2));
}
.modal-dialog .modal-content button {
    font-weight: 900;
    padding: 3px;
    width: 100px;
    background: linear-gradient(to top, #4D774E, #9DC88D) no-repeat;
    border: none;
    color: #FFFFFF;
    letter-spacing: 1px;
}
.icon-empty {
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    filter: drop-shadow(2px 2px rgba(0,0,0,.3)); 
    background: linear-gradient(to right, #9DC88D, #4D774E) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    font-size: 22px;
}
.text-empty {
    cursor: pointer;
    filter: drop-shadow(2px 2px rgba(0,0,0,.3)); 
    background: linear-gradient(to right, #9DC88D, #4D774E) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    font-size: 22px;
}
/* cretate post */
.box-create-post input {
    background: hsla(0,0%,100%,0.1);
    border: none;
    width: 100%;
    padding: 10px 20px;
    font-weight: 800 !important;
    color: #4D774E;
    font-size: 20px;
    filter: drop-shadow(1px 1px rgba(0,0,0,.2));
}
.box-create-post input::placeholder {
    font-size: 20px;
    letter-spacing: 1px;
    color: #4D774E;
}
.box-create-post label, .box-create-post p {
    font-size: 25px;
    font-weight: 900 !important;
    background: linear-gradient(to right, #4D774E, #9DC88D) no-repeat;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    filter: drop-shadow(1px 1px rgba(0,0,0,.3));
}
.box-create-post textarea {
    background: hsla(0,0%,100%,0.1);
    filter: drop-shadow(1px 1px rgba(0,0,0,.2));
    border: none;
    width: 100%;
    padding: 10px 20px;
    font-weight: 800 !important;
    color: #4D774E;
    font-size: 20px;
    resize: none;
    border-radius: 20px;
}
.box-create-post button {
    width: 200px;
    font-weight: 900;
    padding: 5px;
    background: linear-gradient(to top, #4D774E, #9DC88D) no-repeat;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 1px;
}
.box-create-post button:hover {
    color: #FFFFFF;
}