<div id="colorlib-main">
    <section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
        <div class="container-fluid px-0">
            <div class="row d-flex p-5 ">
                <div class="col-md-12 d-flex justify-content-center p-5 align-items-center">
                    <div class="text px-4 pt-5 pt-md-0 px-md-4 pr-md-5 ftco-animate">
                        <h2 class="mb-4">Maybe you don't know <span><i class="far fa-smile-wink"></i></span>! I'm <span>Lê Xuân Thiện</span>.</h2>
                        <div class="team-wrap row mt-5 d-flex justify-content-center">
                            <div class="col-md-4 team">
                                <div class="img" style="background-image: url(/logo.ico);"></div>
                                <h3>THIEN L .</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>