<div class="shadow login mx-3">
    <h3 class="pb-3 text-center">SignUp</h3>
    <form method="POST" action="/user/register" class="d-flex flex-column">
        <div class="d-flex align-items-center box-input my-2">
            <i class="fas fa-user-tie"></i>
            <input type="text" name="username" id="username" placeholder="Your username.">
        </div>
        <div class="d-flex align-items-center box-input my-2">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" id="email" required placeholder="Your email.">
        </div>
        <div class="d-flex align-items-center box-input my-2">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" id="password" required placeholder="Your password.">
        </div>

        <div class="d-flex justify-content-between">
            <a href="/user/login">login account.</a>
        </div>
        <div class="div-btn w-100 text-center pt-4">
            <input class="rounded-pill shadow" type="submit" value="register">
        </div>
        {{#if message}}<p class="py-3">{{message}}</p>{{/if}}
    </form>
</div>