<style>
    h3 {
        font-family: "Abril Fatface", cursive;
        letter-spacing: 0.2em;
    }
    #submit {
        letter-spacing: 0.2em;
    }
    #forget-pw {
        font-size: 11px;
        font-weight: 600;
    }
    .ftco-section {
        margin-top:100px;        
    }
</style>
<div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container px-md-0">
            <div class="row d-flex no-gutters">
                <div class="col-12 order-md-last d-flex align-items-stretch">
                    <div class="contact-wrap w-100 p-md-5 p-4">
                        <form method="POST" action="/user/reset-password" id="contactForm" name="contactForm" class="contactForm">
                            <div class="row">
                                <div class="col-md-12 py-2">
                                    {{#if message}}
                                        <i>{{message}}</i>
                                    {{/if}}
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Import your account Email address !">
                                    </div>
                                </div>                                
                                <div class="col-md-12">
                                    <button type="submit" id="submit" class="btn btn-info rounded heading">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>