<div class="shadow login">
    <form method="POST" action="/user/reset-password" class="d-flex flex-column">
        {{#if message}}<p>{{message}}</p>{{/if}}
        <div class="d-flex align-items-center box-input my-2">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" id="email" placeholder="Import your account Email address !" required>
        </div>
        <div class="div-btn w-100 text-center pt-3">
            <input class="rounded-pill shadow" type="submit" value="send">
        </div>
    </form>
</div>